.skills{
  position: relative;
  backdrop-filter: blur(50px);
  border-radius: 10px;
  box-shadow: 0 19px 38px #000, 0 15px 12px #000;
  max-width: 600px;     
  margin: 50px auto;     
  padding: 20px;  
  width: 90%;

}

.skill-bar{
  position: relative;
  padding: 0px 0px;

}


.skill-bar .bar{
  margin: 25px 0;
  display: flex;
  flex-direction: column;
}

.skill-bar .bar .info span{
  font-size: 1rem;
  font-weight: 900;

}

.skill-bar .bar .progress-line{
  box-sizing: border-box;
 
  height: 10px;
  width: 100%;
  left: -50px;
  background: #f0f0f0;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  animation: animate 1s cubic-bezier(1,0,0.5,1) forwards ;
}

.bar .progress-line span {
  position: absolute;             
  left: 10px;                       
  top: 0;
  height: 100%;
  background: #ffbb00;
  transform: scaleX(0);
  transform-origin: left;
  text-transform: uppercase;
  animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
  border-radius: 10px;
}

@keyframes animate{
  100%{
    transform: scaleX(1);
  }
}

.progress-line .html{
  width: 90%;
}

.progress-line .css{
  width: 80%;
}

.progress-line .javascript{
  width: 60%;
}

.progress-line .python{
  width: 30%;
}

.progress-line .sql{
  width: 95%;
}


.bar .progress-line span::before{
  position: absolute;
  content: "";
  height: 0;
  right: 0;
  top: 14px ;
  width: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-color: #07374a;
}

.bar .progress-line span::after{

  position: absolute;
  right: 0;
  top: -28px;
  color: #f0f0f0;
  font-size: 12px;
  background: #504f4c;
  padding: 1px 8px;
  border-radius: 3px;

}

.progress-line .html::after{
  content:"90%";
}
.progress-line .css::after{
  content:"80%";
}
.progress-line .javascript::after{
  content:"60%";
}
.progress-line .python::after{
  content:"30%";
}
.progress-line .sql::after{
  content:"95%";
}